.background {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.dot {
    height: 40vh;
    width: 25vw;
    opacity: 10%;
    border-radius: 100%;
}

.dotOne {
    background: aqua;
    position: fixed;
    top: 5%;
    left: 5%;
}

.dotTwo {
    background: aqua;
    position: fixed;
    top: 18%;
    left: 20%;
}

.dotThree {
    background: aqua;
    position: fixed;
    top: 10%;
    right: 5%;
}

.dotFour {
    background: aqua;
    position: fixed;
    width: 56vw;
    bottom: -28%;
    left: -5%;
    opacity: 100%;
}

.dotFive {
    background: aqua;
    position: fixed;
    width: 60vw;
    height: 45vh;
    bottom: -20%;
    right: -5%;
    opacity: 100%;
}

@media only screen and (max-width: 600px) {
    .dot {
        height: 25vh;
        width: 25vh;
    }

    .dotOne {
        background: aqua;
        position: fixed;
        top: 5%;
        left: 5%;
    }
    
    .dotTwo {
        background: aqua;
        position: fixed;
        top: 15%;
        left: 15%;
    }
    
    .dotThree {
        background: aqua;
        position: fixed;
        top: 10%;
        right: -10%;
    }
    
    .dotFour {
        background: aqua;
        position: fixed;
        width: 55vw;
        bottom: -10%;
        left: -5%;
        opacity: 100%;
    }
    
    .dotFive {
        background: aqua;
        position: fixed;
        width: 65vw;
        bottom: -15%;
        right: -10%;
        opacity: 100%;
    }
    
}